<div class="container">
    <h1 class="text-center">Welcome to Employee Management System</h1>
    <a href="/emp/add-emp" class="btn btn-primary">Add Employee</a>
    <a href="/emp/show-all-emp" class="btn btn-success">Show Employees</a>
    <a href="/emp/save-emp" class="btn btn-info">Save</a>
    {{!-- <a href="/emp/add-emp" class="btn btn-danger">Delete Employee</a> --}}
</div>
